<div class="container-fluid">
	<div class="nav2_container">
		<div class="row">
			<div class="col-sm-6 col-xs-12">
				<ul class="nav2">
					<li class="active"><%= link_to('Все курсы', root_path) %></li>
					<li><%= link_to('Курсы по вузам', courses_path) %></li>
					<li><a href="#">По темам</a></li>
				</ul>
			</div>
			<div class="col-sm-6 col-xs-12">
			  <form class="navbar-form navbar-right" role="search">
					<input type="text" class="form-control" placeholder="Поиск">
					<button type="submit" class="btn btn-success">Найти</button>
			  </form>
			</div>
		</div>

	</div>
</div>
<div class="container-fluid">
	<!--slider-->
	<div class="slider">
		<ul class="bxslider">
			<% if !@news.nil? %>
				<% @news.each do |news| %>
					  <li>
						<div class="slide_container clearfix">
							<div class="slide_video">
								<%= image_tag(news.logo, :alt => "", :size => '439x302', :class => 'img-responsive') %>
							</div>
							<div class="slide_text">
								<h3><a href="#"><%= news.title %></a></h3>
								<p><%= news.description[0..150] %></p>
								<p><%= link_to 'Подробнее', news_path(news: news.id) %></p>
							</div>
						</div>
					  </li>
				<% end %>
			<% end %>
		</ul>
	</div>
	<!--/slider-->
	<%= render 'shared/sort_menu' %>
	<%= render 'shared/courses' %>
</div>