<% if @courses.nil? || @courses.empty? %>
	<div> Курсов нет в базе данных </div>
<% else %>
	<% @courses.each do |course| %>
	<div class="course_title"><%= course.name %></div>
		<div class="row">
			<div class="col-sm-4">
				<%= image_tag(course.picture, :alt => "", size: "188x135") %>
			</div>
			<div class="col-sm-8">
				<div class="where">
					<a href="#"><%= course.university.abbreviation %></a> <span class="bull">&bull;</span> 6.00.1x <span class="bull">&bull;</span> <%= course.date_begin %>
				</div>
				<div class="rate">
					Ваша итоговая оценка: <b>0%</b> <br>
					Минимальный балл для получения сертификата: <b>50%</b>
				</div>
				<div class="crs clearfix">
					<%= link_to 'Перейти к курсу', about_course_path(course_id: course.id), :class => 'btn btn-success' %>
					<div class="misc_links">
						<%= link_to 'Отмена регистрации', unsubscribe_path(course_id: course.id) %><br>
						<a href="#">Настройки электронной почты</a>
					</div>
				</div>
			</div>
		</div>
	<% end %>
<% end %>